<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
</head>
<body style="background-color: black;">

<h1 style="text-align: center; background-color: red "font size="80px" >Home Page</h1>
<hr>

<header style="text-align: center; background-color: white;">Welcome to user registration form</header> <br>
<p style="text-align: center; background-color: white ";  >lfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhvzhafhbhbkb
 hvjlkzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxkldkllkraulaulihblablbv Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.
         lfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhvzhafhbhbkb
 hvjlkzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxkldkllkraulaulihblablbv Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.
         lfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhvzhafhbhbkb
 hvjlkzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxkldkllkraulaulihblablbv Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.
         lfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhfhvzhafhbhbkb
 hvjlkzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxkldkllkraulaulihblablbv Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Neque, tenetur adipisci! Architecto quam quas voluptatibus quasi corporis saepe ratione commodi perspiciatis quis.
         Necessitatibus quam minima voluptates vitae provident repudiandae ab.</p> <br>
<div style="text-align: center; background-color: white; ">
To register the user click on the link
<a href="http://localhost:8080/index">New user</a><br>
</div>
<br>
<div style="text-align: center; background-color: white; ">
To delete the user click on the link
<a href="http://localhost:8080/delete" >Delete user</a><br>
</div>
<br>
<div style="text-align: center; background-color: white; ">
To see all the registered user click on the link
<a href="http://localhost:8080/list">All users</a><br>
</div>
<br>
</body>
</html>